@media only screen and (min-width: 41rem) and (max-width: 80rem) {
    :root{
        --contentHeight: 255rem;
        --image-width: 100%;
    }
    .body{
        margin: .25rem;
        padding: .25rem;
        grid-template-rows: 6rem 1fr 6rem;
    }
.body.show {
    grid-template-rows: var(--body-show-rows);
}
    .header{
        grid-row: 1;
        margin: .5rem;
        padding: .5rem;
        display: flex;
        border-radius: 10px;
        height: 5rem;
    }
.header.show {
    max-height: var(--header-show-max-height);
    min-height: var(--header-show-min-height);
    height: var(--header-show-height);
    max-width: var(--header-show-max-width);
    min-width: var(--header-show-min-width);
    width: var(--header-show-width);
    margin: var(--header-show-margin);
    padding: var(--header-show-padding);
}
.hamburger-menu-link{
    grid-column: var(--hamburger-menu-link-grid-column);
    grid-row: var(--hamburger-menu-link-grid-row);
    color: var(--hamburger-menu-link-color);
    background-color: var(--hamburger-menu-link-background-color);
    font: var(--hamburger-menu-link-font);
    max-height: var(--hamburger-menu-link-max-height);
    min-height: var(--hamburger-menu-link-min-height);
    height: var(--hamburger-menu-link-height);
    max-width: var(--hamburger-menu-link-max-width);
    min-width: var(--hamburger-menu-link-min-width);
    width: var(--hamburger-menu-link-width);
    margin: var(--hamburger-menu-link-margin);
    border: var(--hamburger-menu-link-border);
    border-radius: var(--hamburger-menu-link-border-radius);
    padding: var(--hamburger-menu-link-padding);
    display: var(--hamburger-menu-link-display);
    flex: var(--hamburger-menu-link-flex);
    grid-template-columns: var(--hamburger-menu-link-columns);
    grid-template-rows: var(--hamburger-menu-link-rows);
    gap: var(--hamburger-menu-link-grid-gap);
    text-align: var(--hamburger-menu-link-text-align);
    vertical-align: var(--hamburger-menu-link-vertical-align);
    text-decoration: var(--hamburger-menu-link-text-decoration);
    list-style: var(--hamburger-menu-link-list-style);
    transition: var(--hamburger-menu-link-transition);
    content: var(--hamburger-menu-link-content);
}
/*--hamburger-menu-icon*/
.header-menu-title-name::before {
    grid-column: var(--hamburger-menu-icon-grid-column);
    grid-row: var(--hamburger-menu-icon-grid-row);
    color: var(--hamburger-menu-icon-color);
    background-color: var(--hamburger-menu-icon-background-color);
    font: var(--hamburger-menu-icon-font);
    max-height: var(--hamburger-menu-icon-max-height);
    min-height: var(--hamburger-menu-icon-min-height);
    height: var(--hamburger-menu-icon-height);
    max-width: var(--hamburger-menu-icon-max-width);
    min-width: var(--hamburger-menu-icon-min-width);
    width: var(--hamburger-menu-icon-width);
    margin: var(--hamburger-menu-icon-margin);
    border: var(--hamburger-menu-icon-border);
    border-radius: var(--hamburger-menu-icon-border-radius);
    padding: var(--hamburger-menu-icon-padding);
    display: var(--hamburger-menu-icon-display);
    flex: var(--hamburger-menu-icon-flex);
    grid-template-columns: var(--hamburger-menu-icon-columns);
    grid-template-rows: var(--hamburger-menu-icon-rows);
    gap: var(--hamburger-menu-icon-grid-gap);
    text-align: var(--hamburger-menu-icon-text-align);
    vertical-align: var(--hamburger-menu-icon-vertical-align);
    text-decoration: var(--hamburger-menu-icon-text-decoration);
    list-style: var(--hamburger-menu-icon-list-style);
    transition: var(--hamburger-menu-icon-transition);
    content: var(--hamburger-menu-icon-content);
}
/*--hamburger-menu-icon-show*/
.header-menu-title-name.show::before {
    height: var(--hamburger-menu-icon-show-height);
    width: var(--hamburger-menu-icon-show-width);
    margin: var(--hamburger-menu-icon-show-margin);
    padding: var(--hamburger-menu-icon-show-padding);
    content: var(--hamburger-menu-icon-show-content);
}
    .header-menu-anchor {
        margin: .5rem;
        padding: .5rem;
        padding-top: 0rem;
        border-radius: 10px;
        height: 3.5rem;
    }
    .header-menu-anchor h1 {
        height: 3.5rem;
    }
    .header-menu-navigation {
        margin: .25rem;
        padding: .25rem;
        height: 4rem;
    }
    .header-menu-navigation-list {
        height: 4rem;
        display: flex;
    }
    .header-menu-item {
        margin: 1rem 0rem 0rem 0rem;
        height: 4rem;
    }
    .header-menu-item-anchor {
        padding: 1rem;
        height: 4rem;
    }
    .header-menu-item-anchor:hover {
        padding: 1rem 2rem;
    }
    .header-menu-item-anchor.active {
        margin-top: -2rem;
        padding: 0px 1rem;
    }
    .header-menu-item-anchor.active::before {
        padding: 1rem;
        height: 1rem;
    }
    .main {
        grid-row: 2;
    }
    .site-plan-main {
        grid-template-rows: 5rem 5rem 5rem 10rem 20rem 15rem var(--contentHeight) 5rem;
    }
    .index-main {
        grid-template-rows: 5rem var(--contentHeight) 5rem;
    }
    .main-title {
        grid-row: 1;
        margin: 1rem;
        padding: 1rem;
        font-size: 3rem;
    }
    .section {
        margin: .25rem;
        padding: .25rem;
    }
    .section-header {
        margin-top: .25rem;
        margin-bottom: .25rem;
        margin-left: .25rem;
        padding: .25rem;
    }
    .site-name {
        grid-row: 2;
    }
    .site-purpose {
        grid-row: 3;
    }
    .scenarios {
        grid-row: 4;
    }
    .color-schema {
        grid-row: 5;
    }
    .palette-image{
        height: 5rem;
    }
    .color-header {
        margin: .25rem;
        padding: .25rem;
    }
    .color {
        margin: .25rem;
        padding: .25rem;
    }
    .color-name {
        margin: .25rem;
        padding: .25rem;
    }
    .color-demo {
        margin: .25rem;
        padding: .25rem;
    }
    .color-code {
        margin: .25rem;
        padding: .25rem;
    }
    .typography {
        grid-row: 7;
    }
    .font-header {
        margin: .25rem;
        padding: .25rem;
    }
    .font-sub-header {
        margin: .25rem;
        padding: .25rem;
    }
    .font-name {
        margin: .25rem;
        padding: .25rem;
    }
    .wireframes {
        grid-row: 8;
    }
    .wireframe {
        width: 10rem;
    }
    .web-wireframe .wireframe-image {
        width: 40rem;
    }
    .mobile-wireframe .wireframe-image {
        width: 10rem;
    }
    .contentContainer {
        grid-row: 2;
        margin: 1rem;
        padding: 1rem;
        grid-template-columns: auto 49% 49% auto;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .card {
        margin: .5rem;
        border-width: 1px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .card-title {
        margin: .25rem;
    }
    .caption-title {
        font-size:xx-large;
    }
    .row-title {
        font-size: large;
    }
    .row-data {
        font-weight: bolder;
    }
    .card-one {
        grid-column: 2;
        grid-row:1;
    }
    .card-two {
        grid-column: 3;
        grid-row:1;
    }
    .card-three {
        grid-column: 2;
        grid-row:2;
    }
    .card-four {
        grid-column: 3;
        grid-row:2;
    }
    .card-five {
        grid-column: 2;
        grid-row:3;
    }
    .card-six {
        grid-column: 3;
        grid-row:3;
    }
    .card-seven {
        grid-column: 2;
        grid-row:4;
    }
    .card-eight {
        grid-column: 3;
        grid-row:4;
    }
    .card-nine {
        grid-column: 2;
        grid-row:5;
    }
    .card-ten {
        grid-column: 3;
        grid-row:5;
    }
    .footer {
        grid-row: 3;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        border-radius: 10px;
    }
}