@media only screen and (min-width: 41rem) {
:root {
    --null-var: null;
}
.body {
    color: var(--body-color);
    background-color: var(--body-background-color);
    font: var(--body-font);
    max-height: var(--body-max-height);
    min-height: var(--body-min-height);
    height: var(--body-height);
    max-width: var(--body-max-width);
    min-width: var(--body-min-width);
    width: var(--body-width);
    margin: var(--body-margin);
    border: var(--body-border);
    border-radius: var(--body-border-radius);
    padding: var(--body-padding);
    display: var(--body-display);
    flex: var(--body-flex);
    flex-direction: var(--body-flex-direction);
    grid-template-columns: var(--body-columns);
    grid-template-rows: var(--body-rows);
    gap: var(--body-grid-gap);
    text-align: var(--body-text-align);
    vertical-align: var(--body-vertical-align);
    text-decoration: var(--body-text-decoration);
    list-style: var(--body-list-style);
    transition: var(--body-transition);
    content: var(--body-content);
}
.body.show {
    grid-template-rows: var(--body-show-rows);
}
.header {
    grid-column: var(--header-grid-column);
    grid-row: var(--header-grid-row);
    color: var(--header-color);
    background-color: var(--header-background-color);
    font: var(--header-font);
    max-height: var(--header-max-height);
    min-height: var(--header-min-height);
    height: var(--header-height);
    max-width: var(--header-max-width);
    min-width: var(--header-min-width);
    width: var(--header-width);
    margin: var(--header-margin);
    border: var(--header-border);
    border-radius: var(--header-border-radius);
    padding: var(--header-padding);
    display: var(--header-large-display);
    flex: var(--header-flex);
    flex-direction: var(--header-large-flex-direction);
    grid-template-columns: var(--header-columns);
    grid-template-rows: var(--header-rows);
    gap: var(--header-grid-gap);
    text-align: var(--header-text-align);
    vertical-align: var(--header-vertical-align);
    text-decoration: var(--header-text-decoration);
    list-style: var(--header-list-style);
    transition: var(--header-transition);
    content: var(--header-content);
}
.header.show {
    max-height: var(--header-show-max-height);
    min-height: var(--header-show-min-height);
    height: var(--header-show-height);
    max-width: var(--header-show-max-width);
    min-width: var(--header-show-min-width);
    width: var(--header-show-width);
    margin: var(--header-show-margin);
    padding: var(--header-show-padding);
}
.hamburger-menu-link{
    grid-column: var(--hamburger-menu-link-grid-column);
    grid-row: var(--hamburger-menu-link-grid-row);
    color: var(--hamburger-menu-link-color);
    background-color: var(--hamburger-menu-link-background-color);
    font: var(--hamburger-menu-link-font);
    max-height: var(--hamburger-menu-link-max-height);
    min-height: var(--hamburger-menu-link-min-height);
    height: var(--hamburger-menu-link-height);
    max-width: var(--hamburger-menu-link-large-max-width);
    min-width: var(--hamburger-menu-link-large-min-width);
    width: var(--hamburger-menu-link-large-width);
    margin: var(--hamburger-menu-link-margin);
    border: var(--hamburger-menu-link-border);
    border-radius: var(--hamburger-menu-link-border-radius);
    padding: var(--hamburger-menu-link-padding);
    display: var(--hamburger-menu-link-display);
    flex: var(--hamburger-menu-link-flex);
    flex-direction: var(--hamburger-menu-link-flex-direction);
    grid-template-columns: var(--hamburger-menu-link-columns);
    grid-template-rows: var(--hamburger-menu-link-rows);
    gap: var(--hamburger-menu-link-grid-gap);
    text-align: var(--hamburger-menu-link-text-align);
    vertical-align: var(--hamburger-menu-link-vertical-align);
    text-decoration: var(--hamburger-menu-link-text-decoration);
    list-style: var(--hamburger-menu-link-list-style);
    transition: var(--hamburger-menu-link-transition);
    content: var(--hamburger-menu-link-content);
}
.header-menu-title{
    grid-column: var(--header-menu-title-grid-column);
    grid-row: var(--header-menu-title-grid-row);
    color: var(--header-menu-title-color);
    background-color: var(--header-menu-title-background-color);
    font: var(--header-menu-title-font);
    max-height: var(--header-menu-title-max-height);
    min-height: var(--header-menu-title-min-height);
    height: var(--header-menu-title-height);
    max-width: var(--header-menu-title-large-max-width);
    min-width: var(--header-menu-title-large-min-width);
    width: var(--header-menu-title-large-width);
    margin: var(--header-menu-title-margin);
    border: var(--header-menu-title-border);
    border-radius: var(--header-menu-title-border-radius);
    padding: var(--header-menu-title-padding);
    display: var(--header-menu-title-display);
    flex: var(--header-menu-title-flex);
    flex-direction: var(--header-menu-title-flex-direction);
    grid-template-columns: var(--header-menu-title-columns);
    grid-template-rows: var(--header-menu-title-rows);
    gap: var(--header-menu-title-grid-gap);
    text-align: var(--header-menu-title-text-align);
    vertical-align: var(--header-menu-title-vertical-align);
    text-decoration: var(--header-menu-title-text-decoration);
    list-style: var(--header-menu-title-list-style);
    transition: var(--header-menu-title-transition);
    content: var(--header-menu-title-content);
}
/*--hamburger-menu-icon*/
.header-menu-title-name::before {
    grid-column: var(--hamburger-menu-icon-grid-column);
    grid-row: var(--hamburger-menu-icon-grid-row);
    color: var(--hamburger-menu-icon-color);
    background-color: var(--hamburger-menu-icon-background-color);
    font: var(--hamburger-menu-icon-font);
    max-height: var(--hamburger-menu-icon-max-height);
    min-height: var(--hamburger-menu-icon-min-height);
    height: var(--hamburger-menu-icon-height);
    max-width: var(--hamburger-menu-icon-max-width);
    min-width: var(--hamburger-menu-icon-min-width);
    width: var(--hamburger-menu-icon-width);
    margin: var(--hamburger-menu-icon-margin);
    border: var(--hamburger-menu-icon-border);
    border-radius: var(--hamburger-menu-icon-border-radius);
    padding: var(--hamburger-menu-icon-padding);
    display: var(--hamburger-menu-icon-display);
    flex: var(--hamburger-menu-icon-flex);
    flex-direction: var(--hamburger-menu-icon-flex-direction);
    grid-template-columns: var(--hamburger-menu-icon-columns);
    grid-template-rows: var(--hamburger-menu-icon-rows);
    gap: var(--hamburger-menu-icon-grid-gap);
    text-align: var(--hamburger-menu-icon-text-align);
    vertical-align: var(--hamburger-menu-icon-vertical-align);
    text-decoration: var(--hamburger-menu-icon-text-decoration);
    list-style: var(--hamburger-menu-icon-list-style);
    transition: var(--hamburger-menu-icon-transition);
    content: var(--hamburger-menu-icon-large-content);
}
/*--hamburger-menu-icon-show*/
.header-menu-title-name.show::before {
    height: var(--hamburger-menu-icon-show-height);
    width: var(--hamburger-menu-icon-show-width);
    margin: var(--hamburger-menu-icon-show-margin);
    padding: var(--hamburger-menu-icon-show-padding);
    content: var(--hamburger-menu-icon-large-show-content);
}
.header-menu-title-name{
    grid-column: var(--header-menu-title-name-grid-column);
    grid-row: var(--header-menu-title-name-grid-row);
    color: var(--header-menu-title-name-color);
    background-color: var(--header-menu-title-name-background-color);
    font: var(--header-menu-title-name-font);
    max-height: var(--header-menu-title-name-max-height);
    min-height: var(--header-menu-title-name-min-height);
    height: var(--header-menu-title-name-height);
    max-width: var(--header-menu-title-name-large-max-width);
    min-width: var(--header-menu-title-name-large-min-width);
    width: var(--header-menu-title-name-large-width);
    margin: var(--header-menu-title-name-margin);
    border: var(--header-menu-title-name-border);
    border-radius: var(--header-menu-title-name-border-radius);
    padding: var(--header-menu-title-name-padding);
    display: var(--header-menu-title-name-display);
    flex: var(--header-menu-title-name-flex);
    flex-direction: var(--header-menu-title-name-flex-direction);
    grid-template-columns: var(--header-menu-title-name-columns);
    grid-template-rows: var(--header-menu-title-name-rows);
    gap: var(--header-menu-title-name-grid-gap);
    text-align: var(--header-menu-title-name-text-align);
    vertical-align: var(--header-menu-title-name-vertical-align);
    text-decoration: var(--header-menu-title-name-text-decoration);
    list-style: var(--header-menu-title-name-list-style);
    transition: var(--header-menu-title-name-transition);
    content: var(--header-menu-title-name-content);
}
.header-menu-navigation {
    grid-column: var(--header-menu-navigation-grid-column);
    grid-row: var(--header-menu-navigation-grid-row);
    color: var(--header-menu-navigation-color);
    background-color: var(--header-menu-navigation-background-color);
    font: var(--header-menu-navigation-font);
    max-height: var(--header-menu-navigation-max-height);
    min-height: var(--header-menu-navigation-min-height);
    height: var(--header-menu-navigation-height);
    max-width: var(--header-menu-navigation-large-max-width);
    min-width: var(--header-menu-navigation-large-min-width);
    width: var(--header-menu-navigation-large-width);
    margin: var(--header-menu-navigation-margin);
    border: var(--header-menu-navigation-border);
    border-radius: var(--header-menu-navigation-border-radius);
    padding: var(--header-menu-navigation-padding);
    display: var(--header-menu-navigation-large-display);
    flex: var(--header-menu-navigation-flex);
    flex-direction: var(--header-menu-navigation-flex-direction);
    grid-template-columns: var(--header-menu-navigation-columns);
    grid-template-rows: var(--header-menu-navigation-rows);
    gap: var(--header-menu-navigation-grid-gap);
    text-align: var(--header-menu-navigation-text-align);
    vertical-align: var(--header-menu-navigation-vertical-align);
    text-decoration: var(--header-menu-navigation-text-decoration);
    list-style: var(--header-menu-navigation-list-style);
    transition: var(--header-menu-navigation-transition);
    content: var(--header-menu-navigation-content);
}
.header-menu-navigation.show {
    color: var(--header-menu-navigation-show-color);
    background-color: var(--header-menu-navigation-show-background-color);
    height: var(--header-menu-navigation-show-height);
    width: var(--header-menu-navigation-large-show-width);
    margin: var(--header-menu-navigation-show-margin);
    padding: var(--header-menu-navigation-show-padding);
    display: var(--header-menu-navigation-large-show-display);
    flex: var(--header-menu-navigation-show-flex);
    list-style: var(--header-menu-navigation-show-list-style);
}
.header-menu-navigation-list {
    grid-column: var(--header-menu-navigation-list-grid-column);
    grid-row: var(--header-menu-navigation-list-grid-row);
    color: var(--header-menu-navigation-list-color);
    background-color: var(--header-menu-navigation-list-background-color);
    font: var(--header-menu-navigation-list-font);
    max-height: var(--header-menu-navigation-list-max-height);
    min-height: var(--header-menu-navigation-list-min-height);
    height: var(--header-menu-navigation-list-height);
    max-width: var(--header-menu-navigation-list-large-max-width);
    min-width: var(--header-menu-navigation-list-large-min-width);
    width: var(--header-menu-navigation-list-large-width);
    margin: var(--header-menu-navigation-list-margin);
    border: var(--header-menu-navigation-list-border);
    border-radius: var(--header-menu-navigation-list-border-radius);
    padding: var(--header-menu-navigation-list-padding);
    display: var(--header-menu-navigation-list-large-display);
    flex: var(--header-menu-navigation-list-flex);
    flex-direction: var(--header-menu-navigation-list-large-flex-direction);
    grid-template-columns: var(--header-menu-navigation-list-columns);
    grid-template-rows: var(--header-menu-navigation-list-rows);
    gap: var(--header-menu-navigation-list-grid-gap);
    text-align: var(--header-menu-navigation-list-text-align);
    vertical-align: var(--header-menu-navigation-list-vertical-align);
    text-decoration: var(--header-menu-navigation-list-text-decoration);
    list-style: var(--header-menu-navigation-list-list-style);
    transition: var(--header-menu-navigation-list-transition);
    content: var(--header-menu-navigation-list-content);
}
.header-menu-item {
    grid-column: var(--header-menu-item-grid-column);
    grid-row: var(--header-menu-item-grid-row);
    color: var(--header-menu-item-color);
    background-color: var(--header-menu-item-background-color);
    font: var(--header-menu-item-font);
    max-height: var(--header-menu-item-max-height);
    min-height: var(--header-menu-item-min-height);
    height: var(--header-menu-item-height);
    max-width: var(--header-menu-item-large-max-width);
    min-width: var(--header-menu-item-large-min-width);
    width: var(--header-menu-item-large-width);
    margin: var(--header-menu-item-margin);
    border: var(--header-menu-item-border);
    border-radius: var(--header-menu-item-border-radius);
    padding: var(--header-menu-item-padding);
    display: var(--header-menu-item-display);
    flex: var(--header-menu-item-flex);
    flex-direction: var(--header-menu-item-flex-direction);
    grid-template-columns: var(--header-menu-item-columns);
    grid-template-rows: var(--header-menu-item-rows);
    gap: var(--header-menu-item-grid-gap);
    text-align: var(--header-menu-item-text-align);
    vertical-align: var(--header-menu-item-vertical-align);
    text-decoration: var(--header-menu-item-text-decoration);
    list-style: var(--header-menu-item-list-style);
    transition: var(--header-menu-item-transition);
    content: var(--header-menu-item-content);
}
.header-menu-item:hover {
    width: var(--header-menu-item-large-hover-width);
    height: var(--header-menu-item-hover-height);
    font: var(--header-menu-item-hover-font);
    margin: var(--header-menu-item-hover-margin);
    border-radius: var(--header-menu-item-hover-border-radius);
    padding: var(--header-menu-item-hover-padding);
}
.active::before {
    content: var(--header-menu-item-active-content);
}
.header-menu-item-link {
    grid-column: var(--header-menu-item-link-grid-column);
    grid-row: var(--header-menu-item-link-grid-row);
    color: var(--header-menu-item-link-color);
    background-color: var(--header-menu-item-link-background-color);
    font: var(--header-menu-item-link-font);
    max-height: var(--header-menu-item-link-max-height);
    min-height: var(--header-menu-item-link-min-height);
    height: var(--header-menu-item-link-height);
    max-width: var(--header-menu-item-link-large-max-width);
    min-width: var(--header-menu-item-link-large-min-width);
    width: var(--header-menu-item-link-large-width);
    margin: var(--header-menu-item-link-margin);
    border: var(--header-menu-item-link-border);
    border-radius: var(--header-menu-item-link-border-radius);
    padding: var(--header-menu-item-link-padding);
    display: var(--header-menu-item-link-display);
    flex: var(--header-menu-item-link-flex);
    flex-direction: var(--header-menu-item-link-flex-direction);
    grid-template-columns: var(--header-menu-item-link-columns);
    grid-template-rows: var(--header-menu-item-link-rows);
    gap: var(--header-menu-item-link-grid-gap);
    text-align: var(--header-menu-item-link-text-align);
    vertical-align: var(--header-menu-item-link-vertical-align);
    text-decoration: var(--header-menu-item-link-text-decoration);
    list-style: var(--header-menu-item-link-list-style);
    transition: var(--header-menu-item-link-transition);
    content: var(--header-menu-item-link-content);
}
.header-menu-item-link:hover {
    height: var(--header-menu-item-link-hover-height);
    width: var(--header-menu-item-link-large-hover-width);
    margin: var(--header-menu-item-link-hover-margin);
    padding: var(--header-menu-item-link-hover-padding);
    text-decoration: var(--header-menu-item-link-hover-text-decoration);
}
.header-menu-item-link:visited {
    color:var(--header-menu-item-link-visited-color);
}
.main {
    grid-column: var(--main-grid-column);
    grid-row: var(--main-grid-row);
    color: var(--main-color);
    background-color: var(--main-background-color);
    font: var(--main-font);
    max-height: var(--main-max-height);
    min-height: var(--main-min-height);
    height: var(--main-height);
    max-width: var(--main-max-width);
    min-width: var(--main-min-width);
    width: var(--main-width);
    margin: var(--main-margin);
    border: var(--main-border);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
    display: var(--main-display);
    flex: var(--main-flex);
    flex-direction: var(--main-flex-direction);
    grid-template-columns: var(--main-columns);
    grid-template-rows: var(--main-rows);
    gap: var(--main-grid-gap);
    text-align: var(--main-text-align);
    vertical-align: var(--main-vertical-align);
    text-decoration: var(--main-text-decoration);
    list-style: var(--main-list-style);
    transition: var(--main-transition);
    content: var(--main-content);
}
.main-name {
    grid-column: var(--main-name-grid-column);
    grid-row: var(--main-name-grid-row);
    color: var(--main-name-color);
    background-color: var(--main-name-background-color);
    font: var(--main-name-font);
    max-height: var(--main-name-max-height);
    min-height: var(--main-name-min-height);
    height: var(--main-name-height);
    max-width: var(--main-name-max-width);
    min-width: var(--main-name-min-width);
    width: var(--main-name-width);
    margin: var(--main-name-margin);
    border: var(--main-name-border);
    border-radius: var(--main-name-border-radius);
    padding: var(--main-name-padding);
    display: var(--main-name-display);
    flex: var(--main-name-flex);
    flex-direction: var(--main-name-flex-direction);
    grid-template-columns: var(--main-name-columns);
    grid-template-rows: var(--main-name-rows);
    gap: var(--main-name-grid-gap);
    text-align: var(--main-name-text-align);
    vertical-align: var(--main-name-vertical-align);
    text-decoration: var(--main-name-text-decoration);
    list-style: var(--main-name-list-style);
    transition: var(--main-name-transition);
    content: var(--main-name-content);
}
.temple-cards {
    grid-column: var(--temple-cards-grid-column);
    grid-row: var(--temple-cards-grid-row);
    color: var(--temple-cards-color);
    background-color: var(--temple-cards-background-color);
    font: var(--temple-cards-font);
    max-height: var(--temple-cards-max-height);
    min-height: var(--temple-cards-min-height);
    height: var(--temple-cards-height);
    max-width: var(--temple-cards-max-width);
    min-width: var(--temple-cards-min-width);
    width: var(--temple-cards-width);
    margin: var(--temple-cards-margin);
    border: var(--temple-cards-border);
    border-radius: var(--temple-cards-border-radius);
    padding: var(--temple-cards-padding);
    display: var(--temple-cards-display);
    flex: var(--temple-cards-flex);
    flex-direction: var(--temple-cards-flex-direction);
    grid-template-columns: var(--temple-cards-columns);
    grid-template-columns: auto repeat(var(--temple-cards-large-column-count), 1fr) auto;/**/
    grid-template-rows: var(--temple-cards-rows);
    grid-template-rows: repeat(var(--temple-cards-large-row-count), 1fr);/**/
    gap: var(--temple-cards-grid-gap);
    text-align: var(--temple-cards-text-align);
    vertical-align: var(--temple-cards-vertical-align);
    text-decoration: var(--temple-cards-text-decoration);
    list-style: var(--temple-cards-list-style);
    transition: var(--temple-cards-transition);
    content: var(--temple-cards-content);
}
.card {
    color: var(--card-color);
    background-color: var(--card-background-color);
    font: var(--card-font);
    max-height: var(--card-max-height);
    min-height: var(--card-min-height);
    height: var(--card-height);
    max-width: var(--card-max-width);
    min-width: var(--card-min-width);
    width: var(--card-width);
    margin: var(--card-margin);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    display: var(--card-display);
    flex: var(--card-flex);
    flex-direction: var(--card-flex-direction);
    grid-template-columns: var(--card-columns);
    grid-template-rows: var(--card-rows);
    gap: var(--card-grid-gap);
    text-align: var(--card-text-align);
    vertical-align: var(--card-vertical-align);
    text-decoration: var(--card-text-decoration);
    list-style: var(--card-list-style);
    transition: var(--card-transition);
    content: var(--card-content);
}
.image {
    color: var(--image-color);
    background-color: var(--image-background-color);
    font: var(--image-font);
    max-height: var(--image-max-height);
    min-height: var(--image-min-height);
    height: var(--image-height);
    max-width: var(--image-max-width);
    min-width: var(--image-min-width);
    width: var(--image-width);
    margin: var(--image-margin);
    border: var(--image-border);
    border-radius: var(--image-border-radius);
    padding: var(--image-padding);
    display: var(--image-display);
    flex: var(--image-flex);
    flex-direction: var(--image-flex-direction);
    grid-template-columns: var(--image-columns);
    grid-template-rows: var(--image-rows);
    gap: var(--image-grid-gap);
    text-align: var(--image-text-align);
    vertical-align: var(--image-vertical-align);
    text-decoration: var(--image-text-decoration);
    list-style: var(--image-list-style);
    transition: var(--image-transition);
    content: var(--image-content);
}
.card-title {
    color: var(--card-title-color);
    background-color: var(--card-title-background-color);
    font: var(--card-title-font);
    max-height: var(--card-title-large-max-height);
    min-height: var(--card-title-large-min-height);
    height: var(--card-title-large-height);
    max-width: var(--card-title-max-width);
    min-width: var(--card-title-min-width);
    width: var(--card-title-width);
    margin: var(--card-title-margin);
    border: var(--card-title-border);
    border-radius: var(--card-title-border-radius);
    padding: var(--card-title-padding);
    display: var(--card-title-display);
    flex: var(--card-title-flex);
    flex-direction: var(--card-title-flex-direction);
    grid-template-columns: var(--card-title-columns);
    grid-template-rows: var(--card-title-rows);
    gap: var(--card-title-grid-gap);
    text-align: var(--card-title-text-align);
    vertical-align: var(--card-title-vertical-align);
    text-decoration: var(--card-title-text-decoration);
    list-style: var(--card-title-list-style);
    transition: var(--card-title-transition);
    content: var(--card-title-content);
}
.caption-title {
    text-align: center;
    font-size:large;
}
.row-title {
    font-size: small;
    text-align: right;
}
.row-data {
    font-size: small;
    text-align: left;
}
.first-card {
    grid-column: 2;
    grid-row:1;
}
.second-card {
    grid-column: 3;
    grid-row:1;
}
.third-card {
    grid-column: 4;
    grid-row:1;
}
.forth-card {
    grid-column: 2;
    grid-row:2;
}
.fifth-card {
    grid-column: 3;
    grid-row:2;
}
.sixth-card {
    grid-column: 4;
    grid-row:2;
}
.seventh-card {
    grid-column: 2;
    grid-row:3;
}
.eighth-card {
    grid-column: 3;
    grid-row:3;
}
.ninth-card {
    grid-column: 4;
    grid-row:3;
}
.tenth-card {
    grid-column: 3;
    grid-row:4;
}
.footer {
    grid-column: var(--footer-grid-column);
    grid-row: var(--footer-grid-row);
    color: var(--footer-color);
    background-color: var(--footer-background-color);
    font: var(--footer-font);
    max-height: var(--footer-max-height);
    min-height: var(--footer-min-height);
    height: var(--footer-height);
    max-width: var(--footer-max-width);
    min-width: var(--footer-min-width);
    width: var(--footer-width);
    margin: var(--footer-margin);
    border: var(--footer-border);
    border-radius: var(--footer-border-radius);
    padding: var(--footer-padding);
    display: var(--footer-display);
    flex: var(--footer-flex);
    flex-direction: var(--footer-flex-direction);
    grid-template-columns: var(--footer-columns);
    grid-template-rows: var(--footer-rows);
    gap: var(--footer-grid-gap);
    text-align: var(--footer-text-align);
    vertical-align: var(--footer-vertical-align);
    text-decoration: var(--footer-text-decoration);
    list-style: var(--footer-list-style);
    transition: var(--footer-transition);
    content: var(--footer-content);
}

}