@media only screen and (max-width: 40em) {
    .header,.main,.footer {
        max-width: 40em;
        height: auto;
    }
    .hero-image {
        max-width: 40em;
        max-height: 20em;
    }
    }